@import "tailwindcss";

/* @plugin "@tailwindcss/typography"; */
@plugin "../typography.js";
@plugin "@tailwindcss/aspect-ratio";
/* 
@import "./typography.js"; */


@theme {
  /* Font sizes */
  --font-size-2xs: 0.75rem;
  --font-size-2xs--line-height: 1.25rem;

  --font-size-xs: 0.8125rem;
  --font-size-xs--line-height: 1.5rem;

  --font-size-sm: 0.875rem;
  --font-size-sm--line-height: 1.5rem;

  --font-size-base: 1rem;
  --font-size-base--line-height: 1.75rem;

  --font-size-lg: 1.125rem;
  --font-size-lg--line-height: 1.75rem;

  --font-size-xl: 1.25rem;
  --font-size-xl--line-height: 1.75rem;

  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 2rem;

  --font-size-3xl: 1.875rem;
  --font-size-3xl--line-height: 2.25rem;

  --font-size-4xl: 2.25rem;
  --font-size-4xl--line-height: 2.5rem;

  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 1;

  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 1;

  --font-size-7xl: 4.5rem;
  --font-size-7xl--line-height: 1;

  --font-size-8xl: 6rem;
  --font-size-8xl--line-height: 1;

  --font-size-9xl: 8rem;
  --font-size-9xl--line-height: 1;

  /* Colors */
  --color-lighter-dark: #0F172A;
  --color-dark: #0B1120;

  /* Box Shadow */
  --shadow-glow: 0 0 4px rgb(0 0 0 / 0.1);

  /* Max width */
  --max-w-lg: 33rem;
  --max-w-2xl: 40rem;
  --max-w-3xl: 50rem;
  --max-w-5xl: 66rem;

  /* Opacity */
  --opacity-1: 0.01;
  --opacity-2\.5: 0.025;
  --opacity-7\.5: 0.075;
  --opacity-15: 0.15;

  /* Background Images */
  --bg-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --bg-gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}


@layer components {
  .readMore {
    @apply inline-flex justify-center gap-0.5 overflow-hidden text-sm font-medium text-emerald-500 transition hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-500;
  }

  .buttonDark {
    @apply inline-flex justify-center gap-0.5 overflow-hidden rounded-full bg-zinc-900 px-3 py-1 text-sm font-medium text-white transition hover:bg-zinc-700 dark:bg-emerald-400/10 dark:text-emerald-400 dark:ring-1 dark:ring-inset dark:ring-emerald-400/20 dark:hover:bg-emerald-400/10 dark:hover:text-emerald-300 dark:hover:ring-emerald-300;
  }

  .buttonLight {
    @apply inline-flex justify-center gap-0.5 overflow-hidden rounded-full px-3 py-1 text-sm font-medium text-zinc-700 ring-1 ring-inset ring-zinc-900/10 transition hover:bg-zinc-900/2.5 hover:text-zinc-900 dark:text-zinc-400 dark:ring-white/10 dark:hover:bg-white/5 dark:hover:text-white;
  }

  .linkGreen {
    @apply inline-flex justify-center gap-0.5 overflow-hidden text-sm font-medium text-emerald-500 transition hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-500;
  }
}